rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == "ahmed01020865017@gmail.com";
    }

    match /lectures/{lectureId} {
      allow read: if true;
      allow write: if isAdmin();

      match /questions/{questionId} {
        allow read: if true;
        allow write: if isAdmin();
      }
    }
  }
}
